@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens base (WCAG-friendly) */
:root {
  color-scheme: light;

  --bg: 228 228 228;
  --fg: 17 24 39;         /* gris muy oscuro */
  --muted: 107 114 128;    /* gris medio */
  --card: 255 255 255;     /* gris claro */
  --border: 229 231 235;   /* borde */

  --primary: 37 99 235;    /* azul */
  --danger: 220 38 38;     /* rojo */
  --success: 22 163 74;    /* verde */
  --warning: 245 158 11;   /* ámbar */
}

.dark {
  color-scheme: dark;

  --bg: 18 18 18;            /* casi negro */
  --fg: 226 232 240;       /* gris claro */
  --muted: 148 163 184;
  --card: 15 23 42;        /* slate */
  --border: 30 41 59;

  --primary: 96 165 250;
  --danger: 248 113 113;
  --success: 74 222 128;
  --warning: 251 191 36;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
